*
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header, .footer
{   background-color: #1f2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header
{
    display: flex;
    align-items: center;
    padding: 20px 200px 100px;
}

.logo
{
color: #F9FAF8;
font-size: 24px;
}

.links, a
{
display: flex;
gap: 15px;
margin-left: auto;
color: #e5E7EB;
font-size: 18px;
}

.container_one
{
    background-color: #1f2937;
    padding: 0px 200px 100px;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
}

.container_one_header
{
    width: 300px;
    height: auto;
}

.container_one_subtext
{
    height: auto;
    width: 450px;
    color: #e5E7EB;
    font-size: 18px;
    margin: 20px 0;
}

.ph_image_box
{
    height: 250px;
    width: 600px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_one
{
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 5px;
    color: #F9FAF8;
}

.container_two_header
{
font-size: 36px;
font-weight: bolder;
display: flex;
justify-content: center;
padding: 40px 0;
}

.info
{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: auto;
    padding-bottom: 200px;
}

img
{
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
.container_two_image_one
{
    height: 150px;
    width: 150px;
    border: solid #3882f6 5px;
    border-radius: 10px;
}

.container_two_image_two
{
    height: 150px;
    width: 150px;
    border: solid #3882f6 5px;
    border-radius: 10px;

}

.container_two_image_three
{
    height: 150px;
    width: 150px;
    border: solid #3882f6 5px;
    border-radius: 10px;

}

.container_two_image_four
{
    height: 150px;
    width: 150px;
    border: solid #3882f6 5px;
    border-radius: 10px;

}

.subtext_one, .subtext_two, .subtext_three, .subtext_four
{
    display: flex;
    text-align: center;
    margin-top: 15px;
}

.container_three
{
    background-color: #e5E7EB;
    padding: 100px 300px;
}    

.quote
{
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
}

.thor
{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
}

.button_one, .button_four, .inside
{
    background-color: #3882f6;
    color: white;
}

.container_four
{
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 100px 0;

}
.inside
{
    height: auto;
    width: 800px;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 10px;
}

.button_four
{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: solid 2px white;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
}

.footer
{
    padding: 30px;
}